@{
    ViewData["Title"] = "Home Page";
}
@using Logic.Employee
@using Logic.Companys
@model Planning_Generator.Models.Login_M

<div class="text-center">
    <p class="display-4">Welkom bij de schedule generator!</p>
</div>





@if (CurrentActive<StaffMember>.IsLoggedIn || CurrentActive<Company>.IsLoggedIn)
{
    <partial name="HomePage_Content" />
}
else
{
    <partial name="_LoginForm" />
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-@ViewData["MessageType"] role="alert">
            @ViewData["Message"]
        </div>
    }
}

