
@{
}
<div class="row">
    <!-- Desktop -->
    <div class="col-6 d-none d-lg-block">
        <img src="~/images/professional_woman.jpg" class="w-100 home-image">
    </div>
    <div class="col-6 d-none d-lg-block">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eius dolorem, ea alias, nam perspiciatis consequatur sequi laboriosam rem aperiam atque quae! Rem, nemo et.
            Eos cupiditate impedit at dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid dolorem eos, tempore at tenetur neque consequuntur officia,
            explicabo repudiandae iure obcaecati cumque accusantium! Animi dolor quas eveniet voluptatem. Cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ex
            explicabo cum autem sed voluptates. Dolorum sint, ullam reiciendis praesentium nesciunt sapiente! Et natus dolor quae itaque! Neque, qui et? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Eum, harum a quia quasi autem fugiat quibusdam placeat saepe itaque fugit tempora vitae, voluptates veniam? Eos magnam illo nostrum officia nihil.
        </p>
    </div>

    <!-- Mobile -->
    <div class="col-12 d-lg-none">
        <img src="~/images/professional_woman.jpg" class="w-100 home-image">
    </div>
    <div class="col-12 d-lg-none">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eius dolorem, ea alias, nam perspiciatis consequatur sequi laboriosam rem aperiam atque quae! Rem, nemo et.
            Eos cupiditate impedit at dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid dolorem eos, tempore at tenetur neque consequuntur officia,
            explicabo repudiandae iure obcaecati cumque accusantium! Animi dolor quas eveniet voluptatem. Cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ex
            explicabo cum autem sed voluptates. Dolorum sint, ullam reiciendis praesentium nesciunt sapiente! Et natus dolor quae itaque! Neque, qui et? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Eum, harum a quia quasi autem fugiat quibusdam placeat saepe itaque fugit tempora vitae, voluptates veniam? Eos magnam illo nostrum officia nihil.
        </p>
    </div>
</div>
