@{
    ViewData["Title"] = "Company Request Staff";
}

<div class="text-center">
    <p class="display-4">Vraag jouw nodige personeel aan!</p>
</div>
<br />
<br />

<div class="p content">
    <form method="POST" action="">
        <label for="daysofweek">Selecteer de dag van beschikbaarheid</label>
        <select class="form-select form-select-sm mb-3" name="daysofweek" id="daysofweek">
            <option value="1">Maandag</option>
            <option value="2">Dinsdag</option>
            <option value="3">Woensdag</option>
            <option value="4">Donderdag</option>
            <option value="5">Vrijdag</option>
        </select>
        
        <label for="shift">Selecteer de dienst</label>
        <select class="form-select form-select-sm mb-3" name="shift" id="shift">
            <option value="1">Ochtend Dients</option>
            <option value="2">Middag Dienst</option>
            <option value="3">Avond Dienst</option>
        </select>

        <label for="occupation">Selecteer de vak beroep</label>
        <select class="form-select form-select-sm mb-3" name="occupation" id="occupation">
            <option value="1">Picker</option>
            <option value="2">Chaufeur</option>
            <option value="3">Lasser</option>
        </select>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="amountOfStaff" placeholder="Benodigde aantal medewerkers">
            <label for="amountOfStaff">Benodigde aantal medewerkers</label>
        </div>

        <div class="mb-3">
            <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
        </div>
        <div class="mb-3">
            <a class="btn btn-outline-primary" asp-action="Shedule">Zie rooster</a>
        </div>
    </form>
</div>