@{
    ViewData["Title"] = "Company Schedule";
}

 <table class="table rounded BackgroundTable  LoadFromBottom ">
            <thead>
                <tr class="p">
                    <th scope="col">#</th>
                    <th scope="col">CoinName</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Value of coin</th>
                    <th scope="col">24h change percentage</th>
                </tr>
            </thead>
            <tbody>

             
            </tbody>
        </table>